# Загальні правила для Python/Odoo
__pycache__/
*.py[cod]
*$py.class
*.pot
*.po~
*.tmp
*.pyc
*.pyo
*.pyd
*.mo

# Ігнорувати всі файли та папки в корені за замовчуванням
/*
!/.gitignore

# Дозволити відстеження конкретних папок модулів
!/flf_show_drafts/
